.row-fluid
  #form.span4.well
    = form_for @project, url: {action: "create"}, :html => {:class => "form-horizontal"} do |f|
      %fieldset
        %legend Project Form
        .control-group
          = f.label :name, :class => "control-label"
          .controls
            = f.text_field :name
        .control-group
          = f.label :description
          .controls
            = f.text_field :description
          %br/
        .form-actions
          = f.submit :class => "btn btn-primary"
