.row-fluid
  .span4.well
    = form_for @project, url: {action: "create"}, :html => {:class => "form-horizontal"} do |f|
      %fieldset
        %legend Project Form
        .control-group
          = f.label :name, :class => "control-label"
          .controls
            = f.text_field :name, :class => "input-xlarge"
        .control-group
          = f.label :description, :html => {:class => "textform"}
          .controls
            = f.text_field :description, :html => {:class => "textform"}
        .form-actions
          = f.submit :class => "btn btn-primary"
