<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>HackathonApp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <script type="text/javascript">
    var projects = <%= Project.all.to_json.html_safe %>;
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/yji8nrp.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href="/assets/layout.css" rel="stylesheet" />
</head>
<body>

<%= yield %>

</body>
</html>
